@model RekenTrainer.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Registreer";
}

<h2>Registreer</h2>
<form asp-action="Register" method="post" asp-controller="Account">
    <h5>Maak een account aan.</h5>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Name"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Email"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Password"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="ConfirmPassword"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="RoleName"></label>
        <div class="col-md-10">
            <Select asp-for="RoleName" asp-items="@RekenTrainer.Utility.Helper.GetRoleForDropDown()" class="form-control"></Select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Registreer" class="btn btn-success" />
        </div>
    </div>
    <p class="col-md-10 offset-md-2">
        <a asp-action="Login">Log in</a>
    </p>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}