@if (User.IsInRole(RekenTrainer.Utility.Helper.Leerling))
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Schools" asp-action="Optellen">Oefenen</a>
            </li>
        </ul>
    </div>
}
@if (User.IsInRole(RekenTrainer.Utility.Helper.Leraar))
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Schools" asp-action="Index">Vragen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Schools" asp-action="Optellen">Oefenen</a>
            </li>
        </ul>
    </div>
}
else
{

}