@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom Kindjes!</h1>
    <img class="animate" src="/img/6014b66fee6dc9e786add6a583791a65.png" asp-append-version="true">
</div>